<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/template/template.xhtml">

	<ui:param name="pageTitle" value="Cadastro CRUD" />

	<ui:define name="header">
		#{label['registry']}
	</ui:define>

	<ui:define name="subheader">
		#{label['create']}
	</ui:define>

	<ui:define name="main">
		<h:form id="formCreate" prependId="false">
			<p:outputPanel id="panel">
				<p:messages showDetail="false" closable="true">
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2" columnClasses="label,value" styleClass="noBorders">
					<p:outputLabel value="#{label['firstname']}:" for="idField1" />
					<p:inputText id="idField1"
						value="#{createBean.person.firstName}" required="true" />

					<p:outputLabel value="#{label['lastname']}:" for="idField2" />
					<p:inputText id="idField2"
						value="#{createBean.person.lastName}" required="true" />

					<p:outputLabel value="#{label['email']}:" for="idField3" />
					<p:inputText id="idField3" value="#{createBean.person.email}"
						required="true" validator="#{createBean.validateEmailDuplicated}" />

					<p:outputLabel value="#{label['age']}:" for="idField4" />
					<p:inputText id="idField4"
						value="#{createBean.person.details.age}" />

					<p:outputLabel value="#{label['address']}:" for="idField5" />
					<p:inputText id="idField5"
						value="#{createBean.person.details.address}" />

					<p:outputLabel value="#{label['zipcode']}:" for="idField6" />
					<p:inputText id="idField6" value="#{createBean.person.details.zipCode}" />

					<p:outputLabel value="#{label['city']}:" for="idField7" />
					<p:inputText id="idField7"
						value="#{createBean.person.details.city}" />

					<p:outputLabel value="#{label['telephone']}:" for="idField8" />
					<p:inputText id="idField8"
						value="#{createBean.person.details.telephone}" />

					<p:outputLabel value="#{label['info']}:" for="idInfo" />
					<p:inputText id="idInfo" value="#{createBean.person.details.info}" />
				</p:panelGrid>
				<p:panelGrid columns="3" styleClass="noBorders">
					<p:commandButton value="#{label['create']}" action="#{createBean.saveAction}" />
					<p:commandButton value="#{label['clean']}" update="panel" process="@this">
						<p:resetInput target="panel" />
					</p:commandButton>
					<p:commandButton value="#{label['back']}" onclick="window.history.back();" />
				</p:panelGrid>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>
