<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/template/template.xhtml">

	<ui:param name="pageTitle" value="Cadastro CRUD" />

	<ui:define name="header">
		#{label['registry']}
	</ui:define>

	<ui:define name="subheader">
		#{label['delete']}
	</ui:define>

	<ui:define name="main">
		<h:form id="formDelete" prependId="false">
			<p:outputPanel>
				<p:messages showDetail="false" closable="true">
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2" columnClasses="label,value" styleClass="noBorders">
					<p:outputLabel value="#{label['firstname']}:" for="idField1" />
					<p:inputText id="idField1"
						value="#{deleteBean.person.firstName}" readonly="true" />

					<p:outputLabel value="#{label['lastname']}:" for="idField2" />
					<p:inputText id="idField2"
						value="#{deleteBean.person.lastName}" readonly="true" />

					<p:outputLabel value="#{label['email']}:" for="idField3" />
					<p:inputText id="idField3" value="#{deleteBean.person.email}"
						readonly="true" />

					<p:outputLabel value="#{label['age']}:" for="idField4" />
					<p:inputText id="idField4"
						value="#{deleteBean.person.details.age}" readonly="true" />

					<p:outputLabel value="#{label['address']}:" for="idField5" />
					<p:inputText id="idField5"
						value="#{deleteBean.person.details.address}" readonly="true" />

					<p:outputLabel value="#{label['zipcode']}:" for="idField6" />
					<p:inputText id="idField6" value="#{deleteBean.person.details.zipCode}"
						readonly="true" />

					<p:outputLabel value="#{label['city']}:" for="idField7" />
					<p:inputText id="idField7"
						value="#{deleteBean.person.details.city}" readonly="true" />

					<p:outputLabel value="#{label['telephone']}:" for="idField8" />
					<p:inputText id="idField8"
						value="#{deleteBean.person.details.telephone}" readonly="true" />

					<p:outputLabel value="#{label['info']}:" for="idField9" />
					<p:inputText id="idField9" value="#{deleteBean.person.details.info}"
						readonly="true" />
				</p:panelGrid>
				<p:panelGrid columns="2" styleClass="noBorders">
					<p:commandButton value="#{label['delete']}"
						action="#{deleteBean.deleteAction}"
						disabled="#{empty deleteBean.person}" />
					<p:commandButton value="#{label['back']}" onclick="window.history.back();" />
				</p:panelGrid>	
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>
