<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/template/template.xhtml">

	<ui:param name="pageTitle" value="Server error" />

	<ui:define name="header">
		Oops
	</ui:define>

	<ui:define name="subheader">
		That's going to leave a mark!
	</ui:define>

	<ui:define name="main">
		<h3>Fix the error then try again.</h3>
		<h3>Live long and prosper.</h3>
	</ui:define>

</ui:composition>
